* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Merriweather Sans', sans-serif;


    --color-primary: #bd0d10;
    --color-secondary: rgb(70, 69, 69);
    --color-tertiary: #c20307e1;
    --color-logo: #fd39039c;
}

body {
    background-color: #FBFBFB;
    margin-top: 0px;
}

.container {
    width: 92%;
margin: auto;
    background-color: #fff;
}


