.footer {
    background-color:black;
    margin-top: 60px;
    padding: 20px;
}

.container-footer {
    width: 90%;
    margin: auto;
    color: #fff;
}

.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main > a {
    color: black;
    margin-bottom: 10px;
}

.footer-main img {
    width: 360px;
}

.footer-main p {
    margin-top: 20px;
    font-size: 0.8rem;
}

.footer-main p a {
    color: bisque;
}