@media (max-width: 1200px) {    
    .flex-header nav {
        gap: 10px;
    }

    .search-bar input{
       padding: 6px 100px;
    }

    .search-bar {
        display: flex;
        gap: 5px;
    }

    .slides {
        width: 100%;
    }

    .slider {
        width: 400px;
    }

    .ultimas-noticias {
        margin-top: 100px;
        width: 100%;
    }

    .categorias ul {
        flex-wrap: wrap;
    }
}

@media (max-width: 800px){
    #noticias {
        flex-direction: column;
    }

    .slider {
        width: 100%;
    }
}


@media (max-width: 525px){
    body {
        overflow-x: hidden;
    }

    #noticias {
        flex-direction: column;
    }

    .slides {
        width: 100%;
    }


    .ultimas-noticias {
        margin-top: 100px;
        width: 100%;
    }

    .categorias ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:460px) {
    .list-search {
        top: 91vh;
        right: 18px;
    }
}

@media (max-width:407px) {
    .search-bar input {
        padding: 10px 40px;
    }
}

@media (max-width:397px) {
    .flex-header nav {
        flex-direction: column;
    }

}

@media (max-width:380px) {

    .nav-list {
        transform: translateX(200%);
    }

    .list-search {
        top: 90vh;
        right: 14px;
        transform: translateX(200%);
    }

    .search-bar input {
        padding: 10px 50px;
    }

}