nav {
    margin-top: 0px;
}


nav .header-nav img{
    background-color: #fff;
    border-radius: 5px;
}

.container-header {
    width: 90%;
    margin: auto
}


.nav-header-desk ul{
    text-decoration: none;
    color: rgb(70, 69, 69);
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-header-desk ul li a {
    text-decoration: none;
    color: var(--color-secondary);
}

.nav-header-desk a:hover {
    color: #B5565A;
}

.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.nav-button {
    background-color: transparent;
}

.nav-button img {
    width: 28px;
}


.overlay {
    width: 0;
    height: 100%;
    background-color: #093969;
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay a {
    color: #CED7E1;
}

.overlay .closeBtn {
    font-size: 2rem;
    margin-left: 85%;
}


.header-nav a {
    text-decoration: none;
}

.header-nav a img{
    width: 32px;
    margin-left: 5px;
}

.flex-header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(206, 204, 204,0.5);
    padding: 10px;
}

.flex-header .mobile {
    display: none;
}

.logo {
    text-align: center;
    margin: 30px 0px;
    padding: 10px 20px;
    background-color:rgb(24, 24, 24);
    margin-bottom: 1px;
}

#category {
    width: 0;
    height: 100%;
    background-color: #093969;
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
    background-color: #093969;
}

#category a {
    color: #CED7E1;
}

.search-nav {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}


.search-nav div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.search-nav div button {
    background-color: transparent;
    border: none;
}

.search-nav {
    color: var(--color-primary);
}

.search-nav .mobile {
    display: none;
}

.category-link {
    margin-left: 20px;
}

.category-link a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1.125rem;
    margin-left: 14px;
}

.search-nav .img {
    cursor: pointer;
    padding: 20px;
    background-image: url(/assets/img/pesquisa.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.search-nav .img:hover {
    background-image: url(/assets/img/pesquisaBlack.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.7s;
}

.menu-search img{
    cursor: pointer;
   
}



.search-bar input{
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #bd0d109d;
}

.search-bar button {
    padding: 6px;
    border: 1px solid;
    border-radius: 50%;
}

.search-bar button img {
    width: 12px;
}



.displaySearch {
    opacity: 1;
}

video {
    width: 100%;
    height: 80vh;
}

.menu-search img {
    display: block;
}

.search-nav #menu {
    display: block;
}

.nav-list{
    position: absolute;
    top: 9vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #093969;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
} 
 
.nav-list.active {
    transform: translateX(0%);
}

.nav-list.active li {
    margin-top: 10px;
}

.nav-list.active a{
    color: #fff;
    border-bottom: 1px solid #083159;
    padding: 4px;
    text-transform: uppercase;
    font-size: small;
    
}

.nav-list li:hover {
    color: #d2deeb;
}


.list-search {
    position: absolute;
    top: 15vh;
    right: 0;
    left: 90px;
    width: 50vw;
    height: 100vh;
    background: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 1;
    transform: translateX(-210%);
    transition: transform 0.3s ease-in;
    padding: 20px;
    color: #fff;
}

.list-search a {
    border-bottom: 1px solid #083159;
    padding: 4px;
}

.list-search.active {
    transform: translateX(0%);
}
