.slider-info {
    margin: 30px auto;
    height: auto;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin-top: -50px;
}

.slider-info .slide-track{
    display: flex; 
    animation: scroll 40s linear infinite;
    width: calc(500px * 10);
    -webkit-animation: scroll 30s linear infinite;
    gap: 50px;
}

.slide-info {
    display: flex;
    justify-self: unset;
    align-items: center;
    gap: 10px;
    background-color: var(--color-logo);
}

.slide-info h5 {
    display: inline;
    font-size: 0.8rem;
    background-color: #B02B33;
    color: #fff;
    padding: 8px 10px;
    width: max-content;
    height: max-content;
    text-align: center;
    border-radius: 5px;
}

.slider-info .slide-info  p{
    width: max-content;
    font-size: 1.1rem;
    color: #fff;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 10));
        transform: translateX(calc(-200px * 10));
    }
}


/* CARROSEL  */

.slides { 
    padding: 5px 10px;
    border-radius: 6px;
    width: 50%;
}

.slider {
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 600px;
    height: 40%;
}

.slider img {
    width: 431px;
    height: 265px;
    -webkit-user-drag: none;
    margin: auto;
}

.slider button {
    color: black;
}

.slider span {
    color: #B22B33;
    margin: 10px;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
}

.slider p {
    margin-top: 10px;
    font-size: 0.875rem;
    padding: 0px 25px;
    line-height: 25.2px;
}

.slider h2 {
    font-size: 1.75rem;
    
}

button.slick-prev.slick-arrow::before {
    color: black;
}

button.slick-next.slick-arrow::before {
    color: black;
}





